<!DOCTYPE html>
<html lang="en">
<head>
<%- include ./partial/head%>

</head>
<body>
        <h1>
            <marquee behavior="" direction="diagonal">ARTS SCHOOL</marquee>
        </h1>
        <%- include ./partial/nav-bar%>
</body>
</html>