<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subject</title>
</head>

<body>
    <h1>Subject Data</h1>
    Back To<a href="/"><button>HOME</button></a>
    <table border="1">
        <thead>
            <th>ID</th>
            <th>SUBJECT NAME</th>
        </thead>
        <%data.forEach( r =>{%>
            <tbody>
                <td>
                    <%=r.id%>
                </td>
                <td>
                    <%=r.subject_name%>
                </td>
            </tbody>
            <%})%>
    </table>
</body>

</html>