<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Teach</title>
</head>
<body>
    <h2>Edit Teacher's Data</h2>
    <form action="/teacher/edit/<%=data.id%>" method="post">
        <p>
            <input type="text" name="first_name" value="<%=data.first_name%>">
        </p>
        <p>
            <input type="text" name="last_name"  value="<%=data.last_name%>">
        </p>
        <p>
            <input type="text" name="email"  value="<%=data.email%>">
        </p>
        <p>
            <input type="submit" value="EDIT">
        </p>
    </form>
</body>
</html>