<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Student</title>
</head>
<body>
    <h2 align="center">Add Student</h2>
        <h4 style="color:rgb(255, 0, 0)">
            <%=sendError%>
        </h4>
        <a href="/student"><button>Back to Student</button></a>
        <form action="/student/add" method="post">
            <p>
                <input type="text" name="first_name" placeholder="FIRST NAME">
            </p>
            <p>
                <input type="text" name="last_name" placeholder="LAST NAME">
            </p>
            <p>
                <input type="text" name="email" placeholder="EMAIL">
            </p>
            <p>
                <input type="submit" value="SUBMIT">
            </p>
        </form>
</body>
</html>